@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Bree+Serif&family=Fira+Sans:ital@1&family=Quintessential&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: red;
  width: 10vw;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
}
.sidebar nav {
  padding: 30px;
}

.sidebar nav li {
  list-style: none;
  font-size: 20px;
  padding: 33px 0;
}

.main {
  background-color: yellow;
  width: 90vw;
}

.container {
  display: flex;
}

.infoContainer {
  background-color: rgb(189, 202, 9);
  height: 45vh;
  width: 80vw;
  margin: 144px auto;
}
